springboot-6003/src/ioservice/IOservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.spring.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.service.spring.com/" name="IoServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.service.spring.com/" schemaLocation="http://localhost:9000/IOservice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"></part>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"></part>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"></part>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"></part>
</message>
<message name="insertOne">
<part name="parameters" element="tns:insertOne"></part>
</message>
<message name="insertOneResponse">
<part name="parameters" element="tns:insertOneResponse"></part>
</message>
<portType name="IoServiceImpl">
<operation name="sayHello">
<input wsam:Action="http://impl.service.spring.com/IoServiceImpl/sayHelloRequest" message="tns:sayHello"></input>
<output wsam:Action="http://impl.service.spring.com/IoServiceImpl/sayHelloResponse" message="tns:sayHelloResponse"></output>
</operation>
<operation name="getAll">
<input wsam:Action="http://impl.service.spring.com/IoServiceImpl/getAllRequest" message="tns:getAll"></input>
<output wsam:Action="http://impl.service.spring.com/IoServiceImpl/getAllResponse" message="tns:getAllResponse"></output>
</operation>
<operation name="insertOne">
<input wsam:Action="http://impl.service.spring.com/IoServiceImpl/insertOneRequest" message="tns:insertOne"></input>
<output wsam:Action="http://impl.service.spring.com/IoServiceImpl/insertOneResponse" message="tns:insertOneResponse"></output>
</operation>
</portType>
<binding name="IoServiceImplPortBinding" type="tns:IoServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="sayHello">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertOne">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="IoServiceImplService">
<port name="IoServiceImplPort" binding="tns:IoServiceImplPortBinding">
<soap:address location="http://localhost:9000/IOservice"></soap:address>
</port>
</service>
</definitions>